.active {
  padding: 8px;
  background-color: var(--main-color-backgtound);
}
:root{
  --main-color-backgtound:#1abc9c;
  --secondary-color-background:#2c3e50;
}
.main-color {
  background-color: var(--main-color-backgtound) !important; 
}
.secondary-color-background{
  background-color: var(--secondary-color-background);
}
.letter-spacing{
  letter-spacing: 1px;
}
.line {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;;
}
.line::before,
.line::after {
  content: "";
  flex: 1;
  height: 4px;
  background-color: #fff;
}

input.form-control:valid {
  box-shadow: none !important;
}

.transition-navbar {
  transition: padding 0.3s ease, background-color 0.3s ease;
}

.navbar-large {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.navbar-small {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

